body {
    font-family: 'Quicksand', sans-serif;
}

.custom-header {
    background-color:dimgray ;
    color:aliceblue;
}

.sidebar {
    background-color: aliceblue;
}

.uv-low {
    background-color: green;
}

.uv-med {
    background-color: yellow;
}

.uv-high {
    background-color: red;
}

.custom-card {
    background-color: aliceblue;
}